@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Google Sans Flex", sans-serif;
  --animate-marquee: marquee 28s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

body{
  background-color: #04040F;
  scroll-behavior: smooth;
}